In [257]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import *

%matplotlib inline

# 1 вариант

In [258]:
data = pd.read_csv('data_test.csv', encoding='ANSI')

In [259]:
data

       battle_id  unit_1  unit_2  unit_3  unit_4    len balance_mark
0         103921   топор     лук  булава     лук  17.35       before
1         117214   посох   посох     лук     лук  21.84       before
2         115502     меч   посох  булава   топор  16.00       before
3         110102  булава     лук     лук  булава  17.22       before
4         104989     меч   посох  булава   посох  19.20       before
...          ...     ...     ...     ...     ...    ...          ...
19995     108834   посох  булава     лук   посох  26.37        after
19996     119941   посох     меч     лук   посох  23.73        after
19997     112911   топор   посох  булава   топор  27.73        after
19998     111684     меч   топор   посох     меч  24.20        after
19999     103437     лук     лук  булава  булава  22.83        after

[20000 rows x 7 columns]

Сортируем в датафрейме столбцы каждой строки по алфавиту

In [260]:
for i, row in enumerate(data.iterrows()):
    data.iloc[i, 1:5] = sorted(list(row[1][1:5]))

data = data.sort_values(['unit_1', 'unit_2', 'unit_3', 'unit_4'], axis=0, inplace=False)

Разбиваем на до и после

In [261]:
data_before = data[data['balance_mark'] == 'before']

In [262]:
data_after = data[data['balance_mark'] == 'after']

Аггрегируем по 4-м столбцам , получая среднее значение длинны боя

In [263]:
mean_before = data_before.groupby(['unit_1', 'unit_2', 'unit_3', 'unit_4']).agg( \
    mean_len_before = pd.NamedAgg(column = 'len', aggfunc = 'mean'))
mean_before

                             mean_len_before
unit_1 unit_2 unit_3 unit_4
булава булава булава булава        18.518125
                     лук           20.488983
                     меч           20.050806
                     посох         19.607397
                     топор         20.161389
...                                      ...
посох  посох  посох  посох         20.571250
                     топор         20.116667
              топор  топор         20.230200
       топор  топор  топор         20.026418
топор  топор  топор  топор         18.891667

[70 rows x 1 columns]

In [265]:
mean_after = data_after.groupby(['unit_1', 'unit_2', 'unit_3', 'unit_4']).agg( \
    mean_len_after = pd.NamedAgg(column = 'len', aggfunc = 'mean'))
mean_after

                             mean_len_after
unit_1 unit_2 unit_3 unit_4
булава булава булава булава       19.811667
                     лук          24.925000
                     меч          20.099437
                     посох        25.166071
                     топор        19.830441
...                                     ...
посох  посох  посох  посох        24.978182
                     топор        24.741803
              топор  топор        24.991188
       топор  топор  топор        24.732090
топор  топор  топор  топор        19.969167

[70 rows x 1 columns]

Объединяем

In [241]:
pd_before_after = pd.concat([mean_before, mean_after], axis=1)
pd_before_after

                             mean_len_before  mean_len_after
unit_1 unit_2 unit_3 unit_4
булава булава булава булава        18.518125       19.811667
                     лук           20.488983       24.925000
                     меч           20.050806       20.099437
                     посох         19.607397       25.166071
                     топор         20.161389       19.830441
...                                      ...             ...
посох  посох  посох  посох         20.571250       24.978182
                     топор         20.116667       24.741803
              топор  топор         20.230200       24.991188
       топор  топор  топор         20.026418       24.732090
топор  топор  топор  топор         18.891667       19.969167

[70 rows x 2 columns]

Считаем разность, что стало после и что было до, т.к. ожидаем что настройки повлияли на длительность боя

In [242]:
pd_before_after['dif_len'] = pd_before_after['mean_len_after'] - pd_before_after['mean_len_before']
pd_before_after

                             mean_len_before  mean_len_after   dif_len
unit_1 unit_2 unit_3 unit_4
булава булава булава булава        18.518125       19.811667  1.293542
                     лук           20.488983       24.925000  4.436017
                     меч           20.050806       20.099437  0.048630
                     посох         19.607397       25.166071  5.558674
                     топор         20.161389       19.830441 -0.330948
...                                      ...             ...       ...
посох  посох  посох  посох         20.571250       24.978182  4.406932
                     топор         20.116667       24.741803  4.625137
              топор  топор         20.230200       24.991188  4.760988
       топор  топор  топор         20.026418       24.732090  4.705672
топор  топор  топор  топор         18.891667       19.969167  1.077500

[70 rows x 3 columns]

In [243]:
pd_before_after['dif_len'].describe()

count    70.000000
mean      3.794410
std       2.560579
min     -10.116909
25%       4.414203
50%       4.852478
75%       5.119219
max       5.787761
Name: dif_len, dtype: float64

Получили в среднем, что длительность боя увеличилась. Значит настройки повлияли.

# 2 Вариант

In [244]:
data = pd.read_csv('data_test.csv', encoding='ANSI')

Разделим данные на before и after по balance_mark

In [245]:
data_before = data[data['balance_mark'] == 'before']

In [246]:
data_before

      battle_id  unit_1 unit_2  unit_3  unit_4    len balance_mark
0        103921   топор    лук  булава     лук  17.35       before
1        117214   посох  посох     лук     лук  21.84       before
2        115502     меч  посох  булава   топор  16.00       before
3        110102  булава    лук     лук  булава  17.22       before
4        104989     меч  посох  булава   посох  19.20       before
...         ...     ...    ...     ...     ...    ...          ...
9995     110026   посох    лук     лук  булава  17.88       before
9996     113821   топор    лук   посох     лук  16.26       before
9997     105155     меч    лук   посох     меч  20.58       before
9998     104050     лук    меч  булава   посох  20.08       before
9999     104272     лук  посох     лук  булава  17.40       before

[10000 rows x 7 columns]

In [247]:
data_after = data[data['balance_mark'] == 'after']

In [248]:
data_after

       battle_id unit_1  unit_2  unit_3  unit_4    len balance_mark
10000     103978    меч  булава     меч  булава  23.30        after
10001     108601  посох   топор  булава   топор  27.12        after
10002     112054    лук  булава     лук     лук  26.06        after
10003     119433  посох   посох     лук  булава  22.76        after
10004     119938    меч   посох   топор   посох  28.40        after
...          ...    ...     ...     ...     ...    ...          ...
19995     108834  посох  булава     лук   посох  26.37        after
19996     119941  посох     меч     лук   посох  23.73        after
19997     112911  топор   посох  булава   топор  27.73        after
19998     111684    меч   топор   посох     меч  24.20        after
19999     103437    лук     лук  булава  булава  22.83        after

[10000 rows x 7 columns]

Посмотрим на вариации значений

In [249]:
data['unit_1'].value_counts()

меч       4053
топор     4032
булава    4026
лук       3982
посох     3907
Name: unit_1, dtype: int64

посмотрим количество всех возможных комбинаций, где перестановка данных элементов нам не важна

In [250]:
elements = ['меч', 'топор', 'булава', 'лук', 'посох']
unique_combinations = []
count = 0
for combination in combinations_with_replacement(elements, 4):
    unique_combinations.append(combination)
    count += 1
count

70

In [251]:
results = []
for combination in unique_combinations:
    for sample in list(permutations(combination)):
        before = data_before[(data_before['unit_1'] == sample[0]) & (data_before['unit_2'] == sample[1]) \
            & (data_before['unit_3'] == sample[2]) & (data_before['unit_4'] == sample[3])]
        mean_len_before = before['len'].mean()
        
        after = data_after[(data_after['unit_1'] == sample[0]) & (data_after['unit_2'] == sample[1])\
           & (data_after['unit_3'] == sample[2]) & (data_after['unit_4'] == sample[3])]
        mean_len_after = after['len'].mean()
        result = [sample, mean_len_before, mean_len_after]
        if result in results:
            result = []
            continue
        else:
            results.append([sample, mean_len_before, mean_len_after])

Переведем все в таблицу

In [252]:
pd_results = pd.DataFrame(columns=['unit_1', 'unit_2', 'unit_3', 'unit_4', 'len_before', 'len_after'])
for i in results:
    pd_results.loc[len(pd_results)] = [i[0][0], i[0][1], i[0][2], i[0][3], i[1], i[2]]

In [253]:
pd_results

    unit_1 unit_2 unit_3 unit_4  len_before  len_after
0      меч    меч    меч    меч   18.739200  20.579500
1      меч    меч    меч  топор   20.331429  19.521000
2      меч    меч  топор    меч   20.750435  19.332308
3      меч  топор    меч    меч   19.074000  20.398125
4    топор    меч    меч    меч   20.705333  21.340000
..     ...    ...    ...    ...         ...        ...
620    лук  посох  посох  посох   18.341000  25.255455
621  посох    лук  посох  посох   20.472500  25.430000
622  посох  посох    лук  посох   20.077000  24.384615
623  посох  посох  посох    лук   19.630667  26.224706
624  посох  посох  посох  посох   20.571250  24.978182

[625 rows x 6 columns]

Добавим столбец, который показывает отличия между тем что было после и между тем что было до

In [254]:
pd_results['dif_len'] = pd_results['len_after'] - pd_results['len_before']

In [255]:
pd_results

    unit_1 unit_2 unit_3 unit_4  len_before  len_after   dif_len
0      меч    меч    меч    меч   18.739200  20.579500  1.840300
1      меч    меч    меч  топор   20.331429  19.521000 -0.810429
2      меч    меч  топор    меч   20.750435  19.332308 -1.418127
3      меч  топор    меч    меч   19.074000  20.398125  1.324125
4    топор    меч    меч    меч   20.705333  21.340000  0.634667
..     ...    ...    ...    ...         ...        ...       ...
620    лук  посох  посох  посох   18.341000  25.255455  6.914455
621  посох    лук  посох  посох   20.472500  25.430000  4.957500
622  посох  посох    лук  посох   20.077000  24.384615  4.307615
623  посох  посох  посох    лук   19.630667  26.224706  6.594039
624  посох  посох  посох  посох   20.571250  24.978182  4.406932

[625 rows x 7 columns]

In [256]:
pd_results.describe()

       len_before   len_after     dif_len
count  625.000000  625.000000  625.000000
mean    19.970593   24.145044    4.174451
std      0.798604    2.604165    2.722597
min     17.921667    8.761875  -12.735159
25%     19.450000   24.217059    3.910737
50%     19.967895   24.798824    4.801263
75%     20.481000   25.333684    5.565745
max     22.350000   27.521429    8.209364

Получилось, что в среднем, отличия есть, по чему можем судить, что влияние есть

# Более корректным является 1 вариант